<div class="header">
    <div class="header1">
        <h1> {{appName}} </h1>
    </div>
    <div class="header2">
        <ul>
            <li><a href="/home"> My tasks </a> </li>
            <li><a href="/profile"> Profile </a></li>
            <li><a href="/login" onclick="cancelSession()"> Log out</a></li>
        </ul>
    </div>
</div>